**/bin/
**/obj/
**/node_modules/
**/dist/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.coverage
**/coverage/
.env
.env.*
!.env.example
.vs/
.vscode/
.idea/
.DS_Store
*.user
*.suo
*.log
*.tsbuildinfo

**/.vite/
**/.models/
**/.ultralytics/
*.pt
**/bin\\*/
